%h1 Listing patients

%table
  %thead
    %tr
      %th Username
      %th Password
      %th
      %th
      %th

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.username
        %td= patient.password
        %td= link_to 'Show', patient
        %td= link_to 'Edit', edit_patient_path(patient)
        %td= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Patient', new_patient_path
