!!! 5
%html{ lang: 'en' }
  = render partial: 'layouts/head'
  %body
    = render partial: 'layouts/icons'
    = render partial: 'layouts/navbar'
    = render partial: 'layouts/alerts'
    #container
      = yield
      = render partial: 'layouts/footer'
    = render partial: 'layouts/loading'
